<div class="tech-btm">
    
    <p>Teknoloji,yazılım ve diğer bloglar</p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" class="gonder" value="Abone Ol">
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    //<form action="/NewsLetter/SubscribeMail/" method="post">

    $(function () {

        $("gonder").click(function () {

            $.ajax({
                url: "/Blog/BlogReadAll/",
                type="post",
                success: ""
            })

        });

    });