@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<br />
<h1>Bildirimler</h1>
<table class="table table-border">

    <tr>
        <th>#</th>
        <th>Bildirimler</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationID</td>
            <td>@item.NotificationDetails</td>
            <td>
                @{
                    var sayi = Convert.ToDateTime((DateTime.Now- item.NotificationDate).ToString()).ToShortDateString();
                    @sayi.ToString().Substring(0,2)
                
                }
            </td>
        </tr>
                    }
</table>

